version: '3.5'

services:
  pgadmin4:
    container_name: "{{ pgadmin_container_name }}"
    image: "{{ pgadmin_image_name }}"
    environment:
      PGADMIN_DEFAULT_EMAIL: "{{ pgadmin_email }}"
      PGADMIN_DEFAULT_PASSWORD: "{{ pgadmin_password }}"
      PGADMIN_LISTEN_PORT: "{{ pgadmin_listen_port }}"
    volumes:
       - pgadmin:/var/lib/pgadmin
       - /home/ubuntu/servers.json:/pgadmin4/servers.json
    ports:
      - "{{ pgadmin_port_external }}:{{ pgadmin_listen_port }}"
    networks:
      - "{{ pgadmin_network }}"
    restart: unless-stopped

networks:
  "{{ pgadmin_network }}":

volumes:
    pgadmin: